body {
  align-items: center;
  background: #333;
  color: #fff;
  display: flex;
  font-family: sans-serif;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  justify-content: center;
}
body,
html {
  margin: 0;
  overflow: hidden;
  padding: 0;
}
canvas { 
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;
  touch-action: none;
}
